.board {
    box-shadow: 0 0 10px #ccc;
}

.board-row {
    &:first-child {
        .square:first-child {
            border-top-left-radius: 4px;
        }

        .square:last-child {
            border-top-right-radius: 4px;
        }
    }

    &:last-child {
        .square:first-child {
            border-bottom-left-radius: 4px;
        }

        .square:last-child {
            border-bottom-right-radius: 4px;
        }
    }

    &:after {
        clear: both;
        content: '';
        display: table;
    }
}

.board-info {
    padding: 20px 0;
    text-align: center;
}

.status {
    margin-bottom: 20px;
    text-align: center;
}
